@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 55%; } }

body {
  font-family: "Roboto", sans-serif;
  color: #44392D;
  background-color: #ffffff;
  line-height: 1.4;
  font-size: 1.6rem;
  font-weight: 700; }
